@{
  Layout = "_Layout";
}

@model University.Models.Department

<h4>Add a new department</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.DepartmentName)
  @Html.TextBoxFor(model => model.DepartmentName)
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add new department" class="btn btn-outline-success" />
}
<p>@Html.ActionLink("Show all departments", "Index")</p>