@{
  Layout = "_Layout";
}

@using University.Models;

<h1>Welcome to University Registration</h1>

<hr />

<h4>Courses</h4>
@if (Model["courses"].Length == 0)
{
  <p>No courses have been added yet!</p>
} 
<ul>
  @foreach (Course crs in Model["courses"])
  {
    <li>@Html.ActionLink(@crs.CourseName, "Details", "Courses", new { id = @crs.CourseId})</li>
  }
</ul>
<hr />

<h4>Students</h4>
@if (Model["students"].Length == 0)
{
  <p>No students have been added yet!</p>
} 
<ul>
  @foreach (Student student in Model["students"])
  {
    <li>@Html.ActionLink(@student.StudentName, "Details", "Students", new { id = @student.StudentId})</li>
  }
</ul>
<hr />

<h4>Departments</h4>
@if (Model["departments"].Length == 0)
{
  <p>No departments have been added yet!</p>
} 
<ul>
  @foreach (Department department in Model["departments"])
  {
    <li>@Html.ActionLink(@department.DepartmentName, "Details", "Departments", new { id = @department.DepartmentId})</li>
  }
</ul>

<hr />

<p>@Html.ActionLink("Manage students", "Index", "Students")</p> <p>@Html.ActionLink("Manage courses", "Index", "Courses")</p> <p>@Html.ActionLink("Manage departments", "Index", "Departments")</p>